<br>

<div class='flex-container'>
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" disabled value="Enter Your Search Criteria">
    </mat-form-field>

    <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="User Name" [(ngModel)]="desiredUserName" value="">
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Full Name" [(ngModel)]="desiredFullName" value="">
      </mat-form-field>
    </p>

    <p>
        <mat-form-field class="example-full-width">
            <span matPrefix>+880 &nbsp;</span>
            <input [(ngModel)]="desiredPhoneNumber" type="tel" matInput placeholder="Phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
    </p>
    
    <p>
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="desiredEmail" matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </p>
  </div>  
</div>

<div class='flex-container'>
  <div class='row'>
    <div class='col-md-6'>
        <mat-form-field>
            <mat-select placeholder="Blood Group" [(value)]="desiredBloodGroup">
              <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">
                {{ bloodGroup }}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class='col-md-6'>
      <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete>
    </div>
  </div>
</div>

<div class="flex-container">
    <button mat-raised-button color="primary" (click)='onClickSearchDonor()'>Search</button>
</div>

<div *ngIf='searchResult'>
    <div>
        <div class="container">
            <div class="row">
                <nav class="navbar">
                    <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
                </nav>
                <table class="table">
                <thead>
                    <tr>
                        <th (click)="sort('name')">
                            Name
                            <span class="glyphicon sort-icon" *ngIf="key =='bloodDonorUserName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th (click)="sort('genre')">
                            Blood Group
                            <span class="glyphicon sort-icon" *ngIf="key =='genre'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th (click)="sort('name')">
                            Location
                            <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bloodDonor of desiredBloodDonors | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" (click)="openDialog(bloodDonor)">
                        <td>{{bloodDonor.bloodDonorUserName}}</td>
                        <td>{{bloodDonor.bloodDonorBloodGroup}}</td>
                        <td>{{bloodDonor.bloodDonorLocation}}</td>
                    </tr>
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
        </div>
    </div>
</div>