.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
.flex-container {
    display: flex;
    justify-content: center;
    allign-items: center;
}
