<br>

<div class='flex-container'>
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" disabled value="Enter The New Donor Information">
    </mat-form-field>

    <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="User Name" [(ngModel)]="desiredUserName" value="">
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Full Name" [(ngModel)]="desiredFullName" value="">
      </mat-form-field>
    </p>

    <p>
        <mat-form-field class="example-full-width">
            <span matPrefix>+880 &nbsp;</span>
            <input [(ngModel)]="desiredPhoneNumber" type="tel" matInput placeholder="Phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </p>
    
    <p>
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="desiredEmail" matInput placeholder="Email" [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </p>
  </div>  
</div>

<div class='flex-container'>
  <div class='row'>
    <div class='col-md-6'>
        <mat-form-field>
            <mat-select placeholder="Blood Group" [(value)]="desiredBloodGroup">
              <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">
                {{ bloodGroup }}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class='col-md-6'>
      <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete>
    </div>
  </div>
</div>


<div class="flex-container">
  <div class="row">
    <div class="col-md-6">
        <mat-form-field>
            <input matInput placeholder="Enter your password" [(ngModel)]="desiredPassword" [type]="hide ? 'password' : 'text'">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field>
            <input matInput placeholder="Confirm password" [(ngModel)]="confirmBloodDonorPassword" [type]="hide ? 'password' : 'text'">
        </mat-form-field>
    </div>
  </div>
</div>

<div class="flex-container">
    <button mat-raised-button color="primary" (click)='onClickSignUp()'>Create</button>
</div>