
<br>
<div class="container">
    <div>
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="bloodDonorEmail" required>
              <mat-error *ngIf="bloodDonorEmail.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter your password" [formControl]="bloodDonorPassword" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
        </div>       
    </div>
    <div class="row">
        <div class="col-lg-1 col-centered">
            <button class='btn btn-success' (click)='onClickSignIn()'>Sign In</button>
        </div>
    </div>
</div>