<app-navigation></app-navigation>
<router-outlet></router-outlet>
<footer class="w3-container  w3-center w3-margin-top" style="
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;">
    <p>Powered by Shams Inc.</p>
</footer>