<div>
    <div class="container">
        <div class="row">
            <nav class="navbar">
                <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
            </nav>
            <table class="table">
            <thead>
                <tr>
                    <th (click)="sort('name')">
                        Name
                        <span class="glyphicon sort-icon" *ngIf="key =='bloodDonorUserName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('genre')">
                        Blood Group
                        <span class="glyphicon sort-icon" *ngIf="key =='genre'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('name')">
                        Location
                        <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bloodDonor of bloodDonors | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" (click)="openDialog(bloodDonor)">
                    <td>{{bloodDonor.bloodDonorUserName}}</td>
                    <td>{{bloodDonor.bloodDonorBloodGroup}}</td>
                    <td>{{bloodDonor.bloodDonorLocation}}</td>
                </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
        </div>
    </div>
</div>